@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@1,500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  --color-natural-bg: #F8F7F3;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-natural-bg);
  @apply text-slate-800;
}

